<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/rainbow/themes/github.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <!-- build:js({app,.tmp}) /js/oldie-head-scripts.js -->
    <script src="/_bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/_bower_components/respond/respond.min.js"></script>
    <!-- endbuild -->
    <![endif]-->
  </head>
  <body>
    {% include google_analytics.html %}

    <div class='layout-fixed layout-padding'>
      {{ content }}

      {% include scripts.html %}

      <br>
      <br>
      <div class='isTextCentered'>
        <a href='/' title="Evgenii's Home"><img src='/image/home.png' class='HomeImage'></a>
      </div>
    <div>
  </body>
</html>
