/*

Earth Orbit Simulator

https://evgenii.com/blog/earth-orbit-simulation

License: Public Domain

Image credits
=============

1. "The Blue Marble" By  NASA/Apollo 17 crew; taken by either Harrison Schmitt or Ron Evans. Sources: http://www.nasa.gov/images/content/115334main_image_feature_329_ys_full.jpg, https://commons.wikimedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg

2. "The Sun photographed at 304 angstroms" by NASA/SDO (AIA). Sources: http://sdo.gsfc.nasa.gov/assets/img/browse/2010/08/19/20100819_003221_4096_0304.jpg, https://commons.wikimedia.org/wiki/File:The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg

*/

.EarthOrbitSimulation-alert {
  color: red;
  border: 1px solid red;
  background: #ffeeee;
  padding: 5px;
}

.EarthOrbitSimulation-container {
  background-color: #000000;
  position: relative;
  height: 400px;
  background-image: url("https://evgenii.com/image/blog/2016-08-31-earth-orbit-simulation/starry_night.png");
  background-position: center bottom;
  background-repeat: repeat;
  background-size: 874px 260px;
}

.EarthOrbitSimulation-isTextCentered { text-align: center; }
.EarthOrbitSimulation-isHiddenBlock { display: none; }

.EarthOrbitSimulation-earth {
  position: absolute;
  width: 25px;
  top: -1000px;
  -webkit-animation:spin .1s linear infinite;
  -moz-animation:spin .1s linear infinite;
  animation:spin .1s linear infinite;
  z-index: 1000;
}

.EarthOrbitSimulation-earthEnd {
  position: absolute;
  background-color: #443344;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-image: url("https://evgenii.com/image/blog/2016-08-31-earth-orbit-simulation/starry_night.png");
  background-position: left top;
  background-repeat: repeat;
  background-size: 674px 220px;
}

.EarthOrbitSimulation-earthEndMessage {
  color: #DDDDDD;
  font-size: 1.3em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.EarthOrbitSimulation-sun {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation:spin .5s linear infinite;
  -moz-animation:spin .5s linear infinite;
  animation:spin .5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.EarthOrbitSimulation-canvas { display: block; }

/* Prevent browser from showing selection when the element is touched */
.isUnselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/*
  Hud display
  ---------
*/

.EarthOrbitSimulation-hudContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  left: 0;
  top: 0;
}

.EarthOrbitSimulation-hudContainerChild {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*
  Reload button
  ---------
*/

.EarthOrbitSimulation-reload {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  outline: none;
}

.EarthOrbitSimulation-reload:focus { outline: none; }

.EarthOrbitSimulation-reloadIcon {
  width: 100%;
  border : 0;
}

.EarthOrbitSimulation-massSlider {
  max-width: 400px;
  margin: 0 auto;
}

/*

Sick Slider
--------------

*/

.SickSlider {
  position: relative;
  height: 60px;
  cursor: pointer;
}

.SickSlider-stripe {
  height: 5px;
  width: 100%;
  background-color: #999999;
  /*border: 1px solid #a66000;*/
  position: absolute;
  top: 28px;
  left: 0px;
}

.SickSlider-head {
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 40px;
  background-color: #ff9400;
  border: 1px solid #FFFFFF;
}
