.Drawings {
  @include flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);
}

.Drawings-link {
  @include flex(1 0 130px);
  text-decoration: none;
  margin: 5px;
  text-align: center;
}

@supports not (flex-wrap: wrap) {
  .Drawings { display: block; }
  .Drawings-link { display: inline-block; }
}

.Drawings-image {
  width: 100%;
  max-width: 200px;
  display: inline-block;
}
