.TagWrap {
  padding-bottom: $iiMarginLarge;
}

.Tag {
  display: inline-block;
  padding: 6px 8px;
  min-width: 100px;

  color: #fff;
  background-color: #ffb100;
  text-decoration: none;
  box-shadow: 22px 3px 0 -7px #ff6c00,
            -13px -4px 0 -6px #ff9400,
          -24px -10px 0 -11px #a66000;

  border-radius: 60%/100% 0;
}