.theme-nightSky {
  background-color: $shade10;
  color: $shade85;
  h1, h2, h3, h4, h5 { color: $shade85; }
  h2 { border-bottom: 1px solid $shade60;}
  .ByLine { color: $shade80; }
  .Tag { color: $shade90; }
  a { color: $colorLink-nightSky }
  .hasBorderTopShade90 { border-top-color: $shade60; }
  .hasBorderBottomShade90 { border-bottom-color: $shade60; }
  .table {
    border-bottom-color: $shade30;
    td { border-color: $shade50; }

    tr {
       &:hover {
        background: $shade30;

        td {
          color: $shade80;
        }
      }
    }

    th {
      background: $shade40;
      color: $shade85;
      border-right: 1px solid $shade50;
      // &:last-child { border-right: none; }
    }
  }
  .table-hasBottomBorder { border-bottom-color: $shade50;}
}