* { box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }
body {
  color: $shade40;
  font-size: 16px;

  // font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; 
  // font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  // font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

img { max-width: 100%; }

ul, ol {
  margin-bottom: 2em;
  padding-left: 2em;
}

li { margin-bottom: 12px; }

blockquote {
  color: $shade60;
  font-size: 1.15em;
  border-left: 4px solid $shade80;
  margin: 0;
  padding: .1em .5em;
}

p, li { line-height: 1.4; }

hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px solid $shade90;
  border-bottom: 1px solid $shade100;
}