* { box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }
body {
  color: $shade40;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 17px;
  word-wrap: break-word;
}

ul, ol {
  margin-bottom: 2em;
  padding-left: 2em;
}

li { margin-bottom: 12px; }

blockquote {
  color: $shade60;
  font-size: 1.15em;
  border-left: 4px solid $shade80;
  margin: 2em 0;
  padding: .5em;
}

p, li { line-height: 1.5; }

hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px solid $shade90;
  border-bottom: 1px solid $shade100;
}

pre, code {
  font-size: 0.9em;
  background: $shade97;
}